In [ ]:
!pip install turicreate

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

# Document retrieval by clustering

In [ ]:
import turicreate

# Load data file

In [ ]:
people_data_frame=turicreate.SFrame('/content/gdrive/MyDrive/machine learning /Turicreate/Week 4/people_wiki.csv')

Finished parsing file /content/gdrive/MyDrive/machine learning /Turicreate/Week 4/people_wiki.csv

Parsing completed. Parsed 100 lines in 4.96057 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Read 26690 lines. Lines per second: 15445.7

Finished parsing file /content/gdrive/MyDrive/machine learning /Turicreate/Week 4/people_wiki.csv

Parsing completed. Parsed 59071 lines in 2.44281 secs.

# Extracting the data

In [ ]:
people_data_frame

Columns:
	URI	str
	name	str
	text	str

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[59071 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# Creating a word_count column in our data base

In [ ]:
people_data_frame['word_count']=turicreate.text_analytics.count_words(people_data_frame['text'])

In [ ]:
people_data_frame

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'melbourne': 1.0, 'parade... |
| alfred j lewy aka sandy le... | {'time': 1.0, 'each': 1.0,... |
| harpdog brown is a singer ... | {'society': 1.0, 'hamilton... |
| franz rottensteiner born i... | {'kurdlawitzpreis': 1.0, '... |
| henry krvits born 30 decem... | {'curtis': 1.0, '2007': 1.... |
| sam henderson born october... | {'asses': 1.0, 'sic': 1.0,... |
| aaron lacrate is an americ... | {'streamz': 1.0, 'includin... |
| trevor ferguson aka john f... | {'concordia': 1.0, 'creati... |
| grant nelson born 27 april... | {'heavies': 1.0, 'new': 1.... |
| cathy caruth born 1955 is ... | {'2002': 1.0, 'harvard': 1... |
+-------------------------------+-------------------------------+
[59071 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# Creating a tf-idf text analyzer

In [ ]:
people_data_frame['TF-IDF']=turicreate.text_analytics.tf_idf(people_data_frame['text'])

In [ ]:
people_data_frame

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	TF-IDF	dict

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'melbourne': 1.0, 'parade... |
| alfred j lewy aka sandy le... | {'time': 1.0, 'each': 1.0,... |
| harpdog brown is a singer ... | {'society': 1.0, 'hamilton... |
| franz rottensteiner born i... | {'kurdlawitzpreis': 1.0, '... |
| henry krvits born 30 decem... | {'curtis': 1.0, '2007': 1.... |
| sam henderson born october... | {'asses': 1.0, 'sic': 1.0,... |
| aaron lacrate is an americ... | {'streamz': 1.0, 'includin... |
| trevor ferguson aka john f... | {'concordia': 1.0, 'creati... |
| grant nelson born 27 april... | {'heavies': 1.0, 'new': 1.... |
| cathy caruth born 1955 is ... | {'2002': 1.0, 'harvard': 1... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             TF-IDF            |
+-------------------------------+
| {'melbourne': 3.8914310119... |
| {'time': 1.325334207420049... |
| {'society': 2.444804726208... |
| {'kurdlawitzpreis': 10.986... |
| {'curtis': 5.2995200328853... |
| {'asses': 9.60020102810530... |
| {'streamz': 10.98649538922... |
| {'concordia': 6.2502969408... |
| {'heavies': 8.907053847545... |
| {'2002': 1.875312588782230... |
+-------------------------------+
[59071 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# Extracting the data of specific person

In [ ]:
Barack_Obama=people_data_frame[people_data_frame['name']=='Barack Obama']

In [ ]:
Barack_Obama

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	TF-IDF	dict

Rows: Unknown

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
+-------------------------------+--------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             TF-IDF            |
+-------------------------------+-------------------------------+
| {'normalize': 1.0, 'sought... | {'normalize': 10.293348208... |
+-------------------------------+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [ ]:
Cathy_Caruth=people_data_frame[people_data_frame['name']=='Cathy Caruth']

In [ ]:
Cathy_Caruth

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	TF-IDF	dict

Rows: Unknown

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Cathy Caruth | cathy caruth born 1955 is ... |
+-------------------------------+--------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             TF-IDF            |
+-------------------------------+-------------------------------+
| {'2002': 1.0, 'harvard': 1... | {'2002': 1.875312588782230... |
+-------------------------------+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

# Evaluate the cosine distance between two person that refer to similarity

In [ ]:
turicreate.distances.cosine(Cathy_Caruth['TF-IDF'][0],Barack_Obama['TF-IDF'][0])

0.9938365030466556

In [ ]:
Nelson=people_data_frame[people_data_frame['name']=='Grant Nelson']

In [ ]:
turicreate.distances.cosine(Nelson['TF-IDF'][0],Barack_Obama['TF-IDF'][0])

0.9947510774016426

In [ ]:
Barack_Obama[['TF-IDF']].stack('TF-IDF',new_column_name=['word','TF-IDF']).sort('TF-IDF',ascending=False)

Columns:
	word	str
	TF-IDF	float

Rows: 273

Data:
+-------------+--------------------+
|     word    |       TF-IDF       |
+-------------+--------------------+
|    obama    |  43.2956530720749  |
|     act     | 27.67822262297991  |
|     iraq    | 17.747378587965535 |
|   control   | 14.887060845181308 |
|     law     | 14.722935761763422 |
|   ordered   | 14.533373950913514 |
|   military  | 13.115932778499415 |
| involvement | 12.784385241175055 |
|   response  | 12.784385241175055 |
|  democratic | 12.410688697332166 |
+-------------+--------------------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [ ]:
Elton_John=people_data_frame[people_data_frame['name']=='Elton John']

In [ ]:
Elton_John

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	TF-IDF	dict

Rows: Unknown

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             TF-IDF            |
+-------------------------------+-------------------------------+
| {'movements': 1.0, 'social... | {'movements': 5.0306580197... |
+-------------------------------+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [ ]:
Elton_John[['TF-IDF']].stack('TF-IDF',new_column_name=['word','TF-IDF']).sort('TF-IDF',ascending=False)

Columns:
	word	str
	TF-IDF	float

Rows: 255

Data:
+---------------+--------------------+
|      word     |       TF-IDF       |
+---------------+--------------------+
|    furnish    | 18.38947183999428  |
|     elton     | 17.482320270031995 |
|   billboard   | 17.30368095754203  |
|      john     | 13.93931279239831  |
|  songwriters  | 11.250406447031539 |
|  overallelton | 10.986495389225194 |
| tonightcandle | 10.986495389225194 |
|    19702000   | 10.293348208665249 |
|   fivedecade  | 10.293348208665249 |
|      aids     | 10.262846934045534 |
+---------------+--------------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [ ]:
Elton_John[['word_count']].stack('word_count',new_column_name=['word','word_count']).sort('word_count',ascending=False)

Columns:
	word	str
	word_count	float

Rows: 255

Data:
+-------+------------+
|  word | word_count |
+-------+------------+
|  the  |    27.0    |
|   in  |    18.0    |
|  and  |    15.0    |
|   of  |    13.0    |
|   a   |    10.0    |
|  has  |    9.0     |
|   he  |    7.0     |
|  john |    7.0     |
|   on  |    6.0     |
| since |    5.0     |
+-------+------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [ ]:
Victoria_Beckham=people_data_frame[people_data_frame['name']=='Victoria Beckham']

In [ ]:
turicreate.distances.cosine(Victoria_Beckham['TF-IDF'][0],Elton_John['TF-IDF'][0])

0.9567006376655429

In [ ]:
Paul_McCartney=people_data_frame[people_data_frame['name']=='Paul McCartney']

In [ ]:
turicreate.distances.cosine(Paul_McCartney['TF-IDF'][0],Elton_John['TF-IDF'][0])

0.8250310029221779

# Building a nearest neighborhood model to extrapolate the similar result

In [ ]:
nearest_neighbourhood_model=turicreate.nearest_neighbors.create(people_data_frame,label='name',
                                                                features=['TF-IDF'])

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

# The query reasult of specified person

In [ ]:
nearest_neighbourhood_model.query(Elton_John)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 11.26ms      |

| Done         |         | 100         | 533.019ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+--------------------+------+
| query_label | reference_label |      distance      | rank |
+-------------+-----------------+--------------------+------+
|      0      |    Elton John   |        0.0         |  1   |
|      0      |   Phil Collins  | 0.7639902676399026 |  2   |
|      0      |   Rod Stewart   | 0.7733333333333333 |  3   |
|      0      |   Annie Lennox  | 0.7766233766233767 |  4   |
|      0      |    Barry Gibb   | 0.780952380952381  |  5   |
+-------------+-----------------+--------------------+------+
[5 rows x 4 columns]

# Nearest neighborhood model wrt word_count

In [ ]:
knn_meodel_word=turicreate.nearest_neighbors.create(people_data_frame,label='name',features=['word_count'])

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

In [ ]:
knn_meodel_word.query(Elton_John).sort('distance',ascending=False)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 14.499ms     |

| Done         |         | 100         | 463.113ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+--------------------+------+
| query_label | reference_label |      distance      | rank |
+-------------+-----------------+--------------------+------+
|      0      |    Barry Gibb   | 0.780952380952381  |  5   |
|      0      |   Annie Lennox  | 0.7766233766233767 |  4   |
|      0      |   Rod Stewart   | 0.7733333333333333 |  3   |
|      0      |   Phil Collins  | 0.7639902676399026 |  2   |
|      0      |    Elton John   |        0.0         |  1   |
+-------------+-----------------+--------------------+------+
[5 rows x 4 columns]

In [ ]:
Billy_Joel=people_data_frame[people_data_frame['name']=='Billy Joel']

In [ ]:
Cliff_Richard=people_data_frame[people_data_frame['name']=='Cliff Richard']

In [ ]:
Roger_Daltrey=people_data_frame[people_data_frame['name']=='Roger Daltrey']

In [ ]:
George_Bush=people_data_frame[people_data_frame['name']=='George Bush']

In [ ]:
turicreate.distances.cosine(Elton_John['word_count'][0],Billy_Joel['word_count'][0])

0.2222176478184027

In [ ]:
turicreate.distances.cosine(Elton_John['word_count'][0],Cliff_Richard['word_count'][0])

0.16142415258967036

In [ ]:
turicreate.distances.cosine(Elton_John['word_count'][0],Roger_Daltrey['word_count'][0])

0.17755418466559603

In [ ]:
George_Bush

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	TF-IDF	dict

Rows: Unknown

Data:
	[]

In [ ]:
turicreate.distances.cosine(Elton_John['TF-IDF'][0],Billy_Joel['TF-IDF'][0])

0.7724282091394652

In [ ]:
turicreate.distances.cosine(Elton_John['TF-IDF'][0],Cliff_Richard['TF-IDF'][0])

0.8117861923162767

In [ ]:
turicreate.distances.cosine(Elton_John['TF-IDF'][0],Roger_Daltrey['TF-IDF'][0])

0.8371188322363339

In [ ]:
knn_model=turicreate.nearest_neighbors.create(people_data_frame,label='name',features=['TF-IDF'],distance='cosine')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

In [ ]:
knn_model.query(Elton_John)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 16.284ms     |

| Done         |         | 100         | 521.657ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+------------------------+------+
| query_label | reference_label  |        distance        | rank |
+-------------+------------------+------------------------+------+
|      0      |    Elton John    | -2.220446049250313e-16 |  1   |
|      0      |   Rod Stewart    |   0.7172196678927374   |  2   |
|      0      |  George Michael  |   0.7476009989692848   |  3   |
|      0      | Sting (musician) |   0.7476719544306141   |  4   |
|      0      |   Phil Collins   |   0.7511932487904706   |  5   |
+-------------+------------------+------------------------+------+
[5 rows x 4 columns]

In [ ]:
knn_model_word_count=turicreate.nearest_neighbors.create(people_data_frame,label='name',features=['word_count'],distance='cosine')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

In [ ]:
knn_model_word_count.query(Elton_John)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 18.29ms      |

| Done         |         | 100         | 504.617ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-----------------------+------+
| query_label |  reference_label  |        distance       | rank |
+-------------+-------------------+-----------------------+------+
|      0      |     Elton John    | 2.220446049250313e-16 |  1   |
|      0      |   Cliff Richard   |  0.16142415258967036  |  2   |
|      0      |   Sandro Petrone  |  0.16822542751041114  |  3   |
|      0      |    Rod Stewart    |  0.16832716558706107  |  4   |
|      0      | Malachi O'Doherty |   0.177315545978884   |  5   |
+-------------+-------------------+-----------------------+------+
[5 rows x 4 columns]

In [ ]:
Victoria_Beckham=people_data_frame[people_data_frame['name']=='Victoria Beckham']

In [ ]:
knn_model.query(Victoria_Beckham)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 17.839ms     |

| Done         |         | 100         | 548.907ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+------------------------+------+
| query_label |   reference_label   |        distance        | rank |
+-------------+---------------------+------------------------+------+
|      0      |   Victoria Beckham  | 1.1102230246251565e-16 |  1   |
|      0      |    David Beckham    |   0.5481696102632145   |  2   |
|      0      | Stephen Dow Beckham |   0.7849867068283364   |  3   |
|      0      |        Mel B        |   0.8095855234085036   |  4   |
|      0      |    Caroline Rush    |    0.81982642291868    |  5   |
+-------------+---------------------+------------------------+------+
[5 rows x 4 columns]

In [ ]:
knn_model_word_count.query(Victoria_Beckham)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 25.486ms     |

| Done         |         | 100         | 501.122ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+------------------------+------+
| query_label |     reference_label      |        distance        | rank |
+-------------+--------------------------+------------------------+------+
|      0      |     Victoria Beckham     | -2.220446049250313e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |  0.20730703611504997   |  2   |
|      0      |      Adrienne Corri      |  0.21450978278754795   |  3   |
|      0      |     Beverly Jane Fry     |  0.21746646874079278   |  4   |
|      0      |      Raman Mundair       |  0.21769547499150488   |  5   |
+-------------+--------------------------+------------------------+------+
[5 rows x 4 columns]